<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">

{% seo %}
<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - {{ site.description }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">


<!-- Styles -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="{{ '/assets/images/favicon.svg' | relative_url }}">

<!-- Open Graph -->
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | absolute_url }}">

<script>
  const highlightTypes = [
    'cool', 'bullet', 'bold', 'mark', 'subtle', 
    'terminal', 'neon', 'retro', 'warn'
  ];
  
  highlightTypes.forEach(type => {
    if (localStorage.getItem(`disable-${type}`) === 'true') {
      document.documentElement.classList.add(`disable-${type}`);
    }
  });
</script>